<!-- Descripción -->
<section>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate consequatur debitis, magnam qui illo quibusdam architecto dicta adipisci officiis natus earum repellat, tempora expedita maiores. Reprehenderit accusantium ratione dolorem quos.
    </p>
</section>
<!-- Fin Descripción -->

<!-- Visión -->
<section>
    <header>
        <h2>
            Visión
        </h2>
    </header>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste impedit cum corporis assumenda libero non qui distinctio quo laudantium quae. Repellendus modi saepe eveniet? Totam numquam soluta in commodi fuga!
    </p>
</section>
<!-- Fin Visión -->

<!-- Misión -->
 <section>
    <header>
        <h2>
            Misión
        </h2>
    </header>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste impedit cum corporis assumenda libero non qui distinctio quo laudantium quae. Repellendus modi saepe eveniet? Totam numquam soluta in commodi fuga!
    </p>
 </section>
<!-- Fin Misión -->
