<section>
    <header>
        <h3>Home</h3>
    </header>
    <div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, vero sunt nostrum ducimus, saepe culpa rerum deserunt iusto ea id eligendi ab error vel, neque laboriosam quo sapiente pariatur accusantium!
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ratione dignissimos exercitationem provident facilis in aliquid suscipit. Cum quaerat voluptatem optio unde nisi itaque inventore, iure nihil nulla quod fugit.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum fuga quisquam quas, fugit hic numquam sit similique eligendi laudantium, repudiandae id. Quidem quisquam exercitationem eveniet nihil pariatur ullam totam tempore.
        </p>
    </div>
    <div>
        {{ contenido }}
    </div>
</section>